@use "../abstracts" as *;

// btn
.btn-primary {
    background: #f20130;
    font-family: "Pt Sans", sans-serif;
    text-transform: capitalize;
    padding: 20px 38px !important;
    color: #fff !important;
    cursor: pointer;
    display: inline-block !important;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    line-height: 1;
    -moz-user-select: none;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 2px solid #f20130;
    overflow: hidden;
    margin: 0;
    &:hover,
    &:active {
      background: #f20130;
    }
  }