@use "../abstracts" as *;

@use "~tiny-slider/src/tiny-slider";

// tiny-slider
.tns-nav {
    margin: 1rem 8px;
    text-align: center;
}
.tns-nav button {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 0;
    padding: 0;
    margin: 1rem 8px;
    border-color: #ccc;
}
.tns-nav button.tns-nav-active {
    background-color: $color-blue;
    border-color: $color-blue;
}
