@use "../abstracts" as *;

.footer {
    &__copy {
        font-size: 0.8rem;
        letter-spacing: 0.4px;
    }
    &__contact {
        color: #fff;
        font-size: 0.8rem;
        text-align: center;
        @include media-breakpoint-up(md) {
            text-align: right;
        }
    }
}
