@use "../abstracts" as *;

.programme .collapsed {
    .bi.bi-caret-down-fill {
        transition: transform 0.3s ease;
        transform: rotate(-90deg);
    }
}

.programme h3 .btn {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.programme h3 .btn:active,
.programme h3 .btn:hover {
    text-decoration: none;
}

.programme-box {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.25rem;
    padding-bottom: 0.5rem;
}

.programme-box h4 {
    font-size: 1.225rem;
}

.programme-box h5 {
    font-size: 0.8rem;
    font-weight: 400;
}

.programme-box p {
    color: #555;
    font-size: 0.8rem;
}

.programme-box small {
    font-style: italic;
    color: #888;
}

.programme-box h6 {
    font-size: 0.925rem;
}
.programme-title {
    font-size: 1.255rem;

    @include media-breakpoint-up(sm) {
        font-size: inherit;
    }
}
