@use "../abstracts" as *;

.btn-primary {
    background-color: $color-yellow;
    color: #fff;
    border: 0;
    border-radius: 0;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.625rem 2.5rem;
    &:hover,
    &:active {
        background-color: $color-yellow--hover;
    }

    &--red {
        background-color: $color-red;
    }
    &.nav-link {
        padding: 0.625rem 2.5rem !important;
        color: #fff !important;
    }
    &.nav-link:hover,
    &.nav-link:active {
        background-color: $color-yellow;
    }
}
