@use "./abstracts" as *;
#site-container:before {
    content: " ";
    display: block;
    width: 100%;
    height: 60px;
}
body {
    font-family: "PT Sans", Sans-serif;
    font-size: 15px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: $color-blue;
    font-weight: 700;
}
.color__blue {
    color: $color-blue;
}
.color__yellow {
    color: $color-yellow;
}
.color__darkgrey {
    color: $color-darkgrey;
}
.bg__blue {
    background-color: $color-blue;
    &--half {
        background-image: linear-gradient(180deg, #ffffff 33%, $color-blue 33%);
    }
}
.bg__grey {
    background-color: $color-grey;
}
.bg__darkgrey {
    background-color: $color-darkgrey;
}
.bg__shiny {
    background-image: linear-gradient(230deg, $color-yellow 0%, #ffffff 50%);
}
a {
    color: $color-blue;
}

.color--invert {
    color: #fff;
    a {
        color: #fff;
        text-decoration: underline;
        transition: color 0.3s ease;
        &:hover,
        &:active {
            color: $color-yellow;
        }
    }
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: #fff;
    }
}

figure.object-fit {
    width: 100%;
    height: 100%;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.youtube {
    &__padding {
        padding: 0.8rem;
    }
}
.container-yt {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    box-shadow: 3px 3px 8px hsl(0deg 0% 40% / 30%);
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
