@use "../abstracts" as *;
.navbar {
    .navbar-logo {
        width: 64px;
        @include media-breakpoint-up(md) {
            position: absolute;
            width: 120px;
        }
        &__figure {
            background-color: #fff;
            margin: 0.5rem;
            @include media-breakpoint-up(md) {
                margin: 0;
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .nav-item {
        display: flex;
        align-items: center;
        margin-left: 25px;
    }
}
