@use "../abstracts" as *;

// button
.btn-primary {
    background-color: $color-yellow;
    color: #fff;
    border: 0;
    border-radius: 0;
    font-weight: 600;
    text-transform: capitalize;
    &:hover,
    &:active {
        background-color: $color-yellow--hover;
    }

    &--red {
        background-color: $color-red;
    }
    &.nav-link {
        padding: 0.625rem 2.5rem !important;
        color: #fff !important;
    }
    &.nav-link:hover,
    &.nav-link:active {
        background-color: $color-yellow;
    }
}
.btn-lg {
    padding: 0.625rem 2.5rem;

}

.btn-outline-primary {
    border-color: $color-yellow;
    border-radius: 0;
    color: white;
    background-color: rgba($color-yellow--hover, 0.3);
    &:hover,
    &:active {
        border-color: $color-yellow;
        background-color: $color-yellow;
    }
}

.btn__cta {
    background: $color-yellow;
    border-radius: 1.5rem;
    color: $color-blue;
    font-size: 1.325rem;
    padding: 0.5rem 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    &:hover,
    &:active {
        background: $color-yellow--hover;
    }
}

// header
.navbar {
    .navbar-logo {
        width: 64px;
        @include media-breakpoint-up(md) {
            position: absolute;
            width: 120px;
        }
        &__figure {
            background-color: #fff;
            margin: 0.5rem;
            @include media-breakpoint-up(md) {
                margin: 0;
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .nav-item {
        display: flex;
        align-items: center;
        margin-left: 25px;
    }
}

// masthead constant
.masthead {
    &--aspect-important {
        @include media-breakpoint-up(sm) {
            aspect-ratio: 3/ 4;
        }
        @include media-breakpoint-up(md) {
            aspect-ratio: 5/ 4;
        }
        @include media-breakpoint-up(lg) {
            aspect-ratio: 16/ 9;
        }
        @include media-breakpoint-up(xl) {
            aspect-ratio: 22/ 10;
        }
    }
}

// tiny-slider
.tns-outer {
    .tns-nav {
        margin: 1rem 8px;
        text-align: center;
    }
    .tns-nav button {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        font-size: 0;
        padding: 0;
        margin: 1rem 8px;
        border-color: #ccc;
    }
    .tns-nav button.tns-nav-active {
        background-color: $color-blue;
        border-color: $color-blue;
    }
}

// vue/LeadForm.vue
form label.error {
    padding: 0.25rem;
    color: #ff0000;
    font-size: 0.8rem;
    font-style: italic;
}

// footer
footer .nav a.nav-link {
    color: #fff;
    font-size: 1.425rem;
}
