@forward "~bootstrap/scss/bootstrap";

$color-blue: #033676;
$color-lightblue: #e8f4ff;
$color-yellow: #f9ab20;
$color-yellow--hover: #fabf58;
$color-red: #f20130;
$color-grey: #fafafa;
$color-darkgrey: #eaeaea;

