@use "./masthead-icon" as *;

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

@import "tiny-slider/dist/tiny-slider.css";
@import "../node_modules/bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "PT Sans", Sans-serif;
  font-size: 15px;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #033676;
  font-weight: 700;
}
.color__blue {
  color: #033676;
}
.bg__blue {
  background-color: #033676;

  &--split {
    background-image: linear-gradient(180deg, #ffffff 33%, #013878 33%);
  }
}
.bg__grey {
  background-color: #fafafa;
}
.bg__darkgrey {
  background-color: #eaeaea;
}

.about__record {
  p {
    font-size: 0.825rem;
  }
}

.speakers {
  p {
    font-size: 0.825rem;
  }
}

// btn
.btn-primary {
  background: #f20130;
  font-family: "Pt Sans", sans-serif;
  text-transform: capitalize;
  padding: 20px 38px !important;
  color: #fff !important;
  cursor: pointer;
  display: inline-block !important;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0;
  line-height: 1;
  -moz-user-select: none;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 2px solid #f20130;
  overflow: hidden;
  margin: 0;
  &:hover,
  &:active {
    background: #f20130;
  }
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  padding: 10px 38px !important;
  margin: 1rem;
  border: solid #033676;
  border-radius: 0;
  color: #033676;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #033676;
  padding: 10px 38px !important;
  border-radius: 0;
}
a {
  color: #033676;
}
.btn-forum {
  background: #033676;
  font-family: "Pt Sans", sans-serif;
  text-transform: capitalize;
  padding: 20px 38px !important;
  color: #fff !important;
  cursor: pointer;
  display: inline-block !important;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0;
  line-height: 1;
  -moz-user-select: none;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 2px solid #033676;
  overflow: hidden;
  margin: 0;
  &:hover,
  &:active {
    background: #033676;
  }
}
#site-container:before {
  content: " ";
  display: block;
  width: 100%;
  height: 60px;
}
// navbar
.nav-item {
  margin-left: 25px;
}
.navbar-brand {
  &__figure {
    background-color: #fff;
    margin: 0.5rem;
    @include media-breakpoint-up(md) {
      margin: 0;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    }
  }
  width: 64px;
  @include media-breakpoint-up(md) {
    position: absolute;
    width: 108px;
  }
  img {
    width: 100%;
  }
}

.masthead__title {
  @include media-breakpoint-up(md) {
    font-size: 4rem;
  }
}
.masthead-aspect {
  aspect-ratio: 3 /4;
  @include media-breakpoint-up(sm) {
    aspect-ratio: 4/ 4;
  }
  @include media-breakpoint-up(md) {
    aspect-ratio: 5/ 4;
  }
  @include media-breakpoint-up(lg) {
    aspect-ratio: 16/ 9;
  }
  @include media-breakpoint-up(xl) {
    aspect-ratio: 22/ 10;
  }
}

.masthead-bg {
  background-image: url("./img/websitebanner-16x9.jpg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}
.masthead-content {
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  margin: 12rem auto;
  @include media-breakpoint-up(md) {
    margin: 12rem auto;
  }
  @include media-breakpoint-up(lg) {
    margin: 11rem auto;
    text-align: right;
  }
  h1,
  p {
    color: #fff;
    text-align: center;

    @include media-breakpoint-up(lg) {
      text-align: right;
    }
  }
}

// testimonials

.blockquote-footer {
  text-align: right;
}
.testimony img {
  max-width: 240px;
}
.testimony .col-md-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tns-nav {
  margin: 1rem 8px;
  text-align: center;
}
.tns-nav button {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 0;
  padding: 0;
  margin: 1rem 8px;
  border-color: #ccc;
}
.tns-nav button.tns-nav-active {
  background-color: #033676;
  border-color: #033676;
}

.programme .collapsed {
  .bi.bi-caret-down-fill {
    transition: transform 0.3s ease;
    transform: rotate(-90deg);
  }
}

.programme h3 .btn {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.programme h3 .btn:active,
.programme h3 .btn:hover {
  text-decoration: none;
}

.programme-box {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.25rem;
  padding-bottom: 0.5rem;
}

.programme-box h4 {
  font-size: 1.225rem;
}

.programme-box h5 {
  font-size: 0.8rem;
  font-weight: 400;
}

.programme-box p {
  color: #555;
  font-size: 0.8rem;
}

.programme-box small {
  font-style: italic;
  color: #888;
}

.programme-box h6 {
  font-size: 0.925rem;
}

.form__container {
  background-color: #fff;
  box-shadow: 10px 20px 40px 0px rgb(0 0 0 / 50%);
}
.form__support {
  width: 100%;
  height: 100%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.form__content {
  ul {
    font-size: 0.8rem;
  }
}

.footer {
  &__copy {
    font-size: 0.8rem;
    letter-spacing: 0.4px;
  }
  &__contact {
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }
  a {
    color: #fff;
    text-decoration: underline;
    &:hover,
    &:active {
      color: #fcae1d;
    }
  }
}

form label.error {
  padding: 0.25rem;
  color: #ff0000;
  font-size: 0.8rem;
  font-style: italic;
}

.thank-you {
  background-image: linear-gradient(230deg, #f9ab20 0%, #ffffff 50%);
  h2 {
    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
  }
}

// forum
.session {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  .time {
    font-weight: bold;
    margin-bottom: 0.25rem;
    min-width: 25%;

    @include media-breakpoint-up(sm) {
      margin-right: 1rem;
    }
  }
  .detail {
    width: 100%;
    h3 {
      font-size: 1rem;
      font-weight: 600;
    }
    p {
      font-size: 0.8825rem;
    }
  }

  ul.speaker {
    padding-left: 1rem;
    li {
      list-style: none;

      text-align: left;
      font-size: 0.8rem;
      max-width: 80%;
      margin-left: auto;
      font-style: italic;
    }
  }
}

//forum bullet point
.session ul.speaker li {
  list-style: outside;
  margin-left: unset;
}
