@use "./abstracts/" as *;

// general
@use "./partial/_general";
@use "./partial/_button";
@use "./partial/_header";
@use "./partial/_sections";
@use "./partial/_footer";
/* 
@use "~tiny-slider/src/tiny-slider";
@use "~bootstrap-select/sass/bootstrap-select"; */

// import
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

//------ mckl-udemy ------//

.masthead {
    padding-top: 5rem;

    &__course {
        padding-top: 1rem;

        @include media-breakpoint-up(md) {
            padding-top: 5rem;
        }
    }

    .arrow.bounce {
        display: block;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &--aspect {
        aspect-ratio: 3 /4;
        @include media-breakpoint-up(sm) {
            aspect-ratio: 4/ 4;
        }
        @include media-breakpoint-up(md) {
            aspect-ratio: 5/ 4;
        }
        @include media-breakpoint-up(lg) {
            aspect-ratio: 16/ 9;
        }
        @include media-breakpoint-up(xl) {
            aspect-ratio: 22/ 10;
        }
    }

    &__bg {
        background-image: url("../img/page-udemy/triangle-mobile.svg");
        background-position: bottom;
        background-size: auto;
        background-repeat: no-repeat;

        @include media-breakpoint-up(md) {
            background-image: url("../img/page-udemy/triangle.svg");
            background-size: cover;
        }
    }

    &__title {
        font-weight: bold;
        @include media-breakpoint-up(md) {
            font-size: 4rem;
        }
    }
    &__desc {
        font-weight: bold;
        margin: 0 auto;
        @include media-breakpoint-up(lg) {
            margin-left: auto;
            margin-right: initial;
        }
    }
    &__content {
        // text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
        margin: 12rem auto;
        @include media-breakpoint-up(md) {
            margin: 6rem auto;
        }
        @include media-breakpoint-up(lg) {
            margin: 7rem auto;
        }
    }
}
@media (max-width: 575px) {
    .masthead {
        text-align: center;

        img.home-banner {
            display: none;
        }

        h1 {
            font-size: 2rem;
        }
    }
}
@media (max-width: 575px) {
    .masthead-content h1,
    .masthead-content p {
        color: #ffffff;
    }
    .scholarship-highlight {
        width: auto;
    }
}

// card/ courses

.courses {
    &__header {
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }
}

.layer {
    background-image: url("../img/page-udemy/stacked-waves-haikei.svg");
}

.blurb {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;

    @include media-breakpoint-up(md) {
        padding: 0 0;
    }

    h1 {
        color: #033676;
    }

    &__heading {
        font-size: 2rem;
        padding-bottom: 1rem;

        @include media-breakpoint-up(sm) {
            font-size: 2.5rem;
        }
    }
}

.terms-condition__list-point {
    margin-bottom: 0.5rem;
}

.card.card-team {
    height: 100%;
}
.card-body.card-team {
    background-color: #0052a0;
    background-color: #033676;
    color: #ffffff;

    .card-title {
        color: #ffffff;
    }
}

.programme-acca__content {
    background-color: transparent;
    padding: 30px;
    border: 2px solid #0052a0;
    width: 100%;
    height: 100%;
    display: table;
    //margin-bottom: 1rem;

    h4,
    h6,
    p {
        color: #003878;
    }
    .topup-text {
        background-color: #f20130;
        padding: 8px;
        border-radius: 6px;

        p {
            font-size: 0.9rem;
            margin-bottom: 0;
        }
    }
    .ddm-mohe {
        font-size: 0.9rem;
        font-style: italic;
        margin-bottom: 0;
    }
}

// registration

.registration {
    &__form {
        background-color: #fff;
        box-shadow: 10px 20px 40px 0px rgb(0 0 0 / 50%);
    }
    &__figure {
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__content {
        ul {
            font-size: 0.8rem;
        }
    }
}

.cta {
    background-image: url("../img/page-udemy/form-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3rem;
    padding-bottom: 4rem;

    //zoho form css
    #crmWebToEntityForm.zcwf_lblLeft {
        background-color: transparent !important;
    }
    .zcwf_lblLeft .zcwf_title {
        display: none !important;
    }
    label {
        font-family: "PT Sans", sans-serif;
        font-size: 15px !important;
        color: #ffffff !important;
        margin-bottom: 0px !important;
    }
    .newCustomchkbox-md.dIB.w100per {
        position: absolute !important;
        margin-top: -0.9rem !important;
    }
    #crmWebToEntityForm.zcwf_lblLeft {
        padding: 0 !important;
        margin: 0 !important;
    }
    .zcwf_lblLeft .zcwf_col_lab {
        width: 40% !important;

        @include media-breakpoint-up(md) {
            width: 20% !important;
        }
    }
    .zcwf_lblLeft .zcwf_row {
        margin: 5px 0px !important;
    }
    .zcwf_lblLeft .zcwf_col_fld input[type="text"],
    .zcwf_lblLeft .zcwf_col_fld textarea {
        padding: 5px !important;
        width: 100% !important;
        border: 0px !important;
        border-radius: 0px !important;
    }
    .zcwf_lblLeft .zcwf_col_fld_slt {
        padding: 6px !important;
        width: 100% !important;
        border: 0px !important;
        border-radius: 0px !important;
        font-size: 15px !important;
    }
    .zcwf_lblLeft .zcwf_privacy_txt {
        color: #ffffff !important;
        font-size: 14px !important;
        margin-left: 30px !important;
    }
    .zcwf_lblLeft .zcwf_privacy {
        padding: 10px 0 3px 0 !important;
    }
    #crmWebToEntityForm > form > div:nth-child(14) .zcwf_col_lab {
        display: none !important;
    }
    .formsubmit.zcwf_button {
        font-family: "PT Sans", sans-serif;
        font-size: 15px !important;
        font-weight: 800 !important;
        background-color: #fcaf17 !important;
        color: #003878 !important;
        border-radius: 0px !important;
        padding: 9px 36px !important;
    }
    input[type="reset"] {
        display: none !important;
    }
    span {
        color: #ffffff !important;
    }

    a {
        color: #ffffff !important;
        text-decoration: underline;
    }
    a:hover {
        color: #ffffff !important;
    }

    h2 {
        color: $color-yellow;
    }
    h3,
    p {
        color: #ffffff;
    }

    &__record {
        p {
            font-size: 0.825rem;
        }
    }
}

// instructor.scss

.instructor {
    &__header {
        text-align: center;
    }

    &__align-mobile {
        justify-content: center;
    }

    .modal-header {
        padding: 1rem 1rem 0;
    }

    .modal-body {
        padding: 0 1rem 1rem;

        img {
            margin-bottom: 10px;

            @include media-breakpoint-up(md) {
                margin-bottom: 0px;
            }
        }
    }
    .modal-body p {
        font-size: 13px;
    }
}

.nav-pills .nav-link,
.nav-pills .show > .nav-link {
    padding: 10px 38px !important;
    margin: 1rem;
    border: 3px solid $color-blue;
    border-radius: 0;
    color: $color-blue;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: $color-blue;
    color: #fff;
}

// forum
.session {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
        flex-direction: row;
    }

    .time {
        font-weight: bold;
        margin-bottom: 0.25rem;
        width: 41%;

        @include media-breakpoint-up(sm) {
            margin-right: 1rem;
        }
    }
    .detail {
        width: 100%;
        h3 {
            font-size: 1rem;
            font-weight: 600;
        }
        p {
            font-size: 0.8825rem;
        }
    }

    ul.speaker {
        padding-left: 1rem;
        li {
            font-size: 0.8rem;
            max-width: 80%;
            margin-left: auto;
            list-style: outside;
            margin-left: unset;
        }
        .name {
            font-weight: bold;
        }
        .position {
            list-style: none;
            font-style: italic;
        }
    }
}
